<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Comment</key>
			<string>Avid</string>
			<key>RuleType</key>
			<string>LabelPrefix</string>
			<key>RuleValue</key>
			<string>com.avid.interplay.editorbroker</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Avid</string>
			<key>RuleType</key>
			<string>LabelPrefix</string>
			<key>RuleValue</key>
			<string>com.avid.interplay.editortranscodestatus</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Avid</string>
			<key>RuleType</key>
			<string>TeamIdentifier</string>
			<key>RuleValue</key>
			<string>4UYUA773XD</string>
		</dict>
	</array>
</dict>
</plist>
